@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.625);
}
.main {
  background-image: url("/my colne/assests/images/bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  background-position: center center;
  position: relative;
}

.main .box {
  height: 100vh;
  opacity: 0.99;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.533);
}

nav {
  height: 62px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  max-width: 80vw;
  align-items: center;
}
nav span img {
  margin-top: 35px;
  color: rgb(160, 2, 10);
  width: 155px;
  position: relative;
  z-index: 10;
}

.container {
  z-index: 19;
  margin: 10px 35%;
  background-color: #000000aa;
  padding: 30px 40px;
  margin-top: 160px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.h1 {
  text-align: center;
  color: #ffffff;
  font-size: 38px;
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 260px;
  padding: 20px 30px;
  font-size: 17px;
  color: white;
  border: 1px solid #666666;
  border-radius: 3px;
  background-color: rgba(69, 69, 69, 0.427);
  outline: none;
}

.button {
  background-color: #e30000;
  color: #fff;
  width: 320px;
  padding: 10px 15px;
  font-weight: 800;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.bnk a {
  text-decoration: none;
  font-weight: 200;
  font-size: 17px;
  color: #fff;
}
.link {
  margin-top: 20px;
}
.link a {
  text-decoration: none;
  font-weight: 200;
  font-size: 17px;
  margin-inline: 100px;
  text-align: center;
  color: #d6d6d6;
}
.link a:hover {
  text-decoration: underline;
  font-weight: 200;
  font-size: 17px;
  margin-inline: 100px;
  text-align: center;
  color: #bababa;
}
.or {
  font-size: 17px;
  color: rgb(205, 205, 205);
}
.bnk {
  background-color: #464040ad;
  color: #fff;
  width: 320px;
  padding: 10px 15px;
  font-weight: 800;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.or {
  text-align: center;
  margin: 15px 0;
}

.link {
  color: #dc0404;
  text-decoration: none;
}

.checkbox {
  margin-right: 5px;
}

.checkbox-label {
  display: inline-block;
}
